fastapi
uvicorn
sqlalchemy
neo4j
python-jose[cryptography]
passlib[bcrypt]
pydantic
email-validator
python-dotenv
requests
openai
faiss-cpu
numpy
pandas
sentence-transformers
recbole
torch
torch-geometric
tqdm
matplotlib
