fastapi
uvicorn
sqlalchemy
psycopg2-binary
neo4j
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
pydantic
email-validator
python-dotenv
requests
openai
faiss-cpu
numpy
pandas
sentence-transformers
recbole
torch --index-url https://download.pytorch.org/whl/cpu
torch-geometric
tqdm
matplotlib
